 /* reset css */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    height: 100vh;
    background-color: rgb(217, 255, 252);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 main{
   display: flex;
   flex-direction: column ;
 }
 h1{
    font-size: 128px;
    font-family: sans-serif;

 } 
 h2{
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;
    font-weight: 10;
 }
 .destaque {
    background-color: rgb(0, 139, 226);
    color: #fff;
    padding: 0px 35px;
    transition: 1s;
    border-radius: 15px
    
 }

    .destaque:hover{
        background-color: blueviolet;
        padding: 5px 10px;
        
    }
.social-container img{
   width: 100px;


}
.social-container{
   background-color: rgb(0, 0, 0);
   border-radius: 20px;
   display: flex;
   justify-content:  space-evenly;
   padding: 40px;

}
.Instagram-foto{
   background-color: azure;
   padding: 15px 15px;
   border-radius: 10px;
   
}
.Linkedin-foto{
   background-color: azure;
   padding: 15px 15px;
   border-radius: 10px;
}
.Github-foto{
   background-color: azure;
   padding: 15px 15px;
   border-radius: 10px;

}
.Zap-foto{
   background-color: azure;
   padding: 15px 15px;
   border-radius: 10px;
}
